@model BooksLibrary.Models.AccountViewModel.ChangePasswordViewModel

@{
    ViewBag.Title = "Zmień hasło";
}

<h2>Zmień hasło</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Ustaw nowe hasło</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActualPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ActualPassword)
            @Html.ValidationMessageFor(model => model.ActualPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewPasswordConfirm)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewPasswordConfirm)
            @Html.ValidationMessageFor(model => model.NewPasswordConfirm)
        </div>
        <br />
        <p>
            <input type="submit" value="Zapisz" class="button" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
