@model BooksLibrary.Models.AccountViewModel.EnableOrDisableAccountViewModel

@{
    ViewBag.Title = "Odblokuj konto użytkownika";
}

<h2>Odblokuj konto użytkownika</h2>

<h3>Czy chcesz odblokować konto użytkownika?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Szczegóły</legend>
        @Html.HiddenFor(model => model.UserName)
        <div class="display-label">
            @Html.DisplayNameFor(model => model.UserName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.UserName)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.LockReason)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LockReason)
        </div>
    </fieldset>

    <p>
        <input type="submit" value="Odblokuj" class=" button" />
        @Html.ActionLink("Anuluj", "UserSettings", new { userName = Model.UserName }, new { @class = "button" })
    </p>
}
