@model BooksLibrary.Models.AccountViewModel.ResetPasswordViewModel

@{
    ViewBag.Title = "Ustaw nowe hasło";
}

<h2>Ustaw nowe hasło</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Nowe hasło</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewPasswordConfirm)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewPasswordConfirm)
            @Html.ValidationMessageFor(model => model.NewPasswordConfirm)
        </div>

        @Html.HiddenFor(model => model.PasswordResetToken)

        <br />
        <p>
            <input type="submit" value="Zapisz" class="button" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
