@model BooksLibrary.Models.BookViewModels.BookViewModel

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<fieldset>
    <legend>Szczegóły</legend>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Author)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ISBN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ISBN)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.PublishingHouse)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PublishingHouse)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ReleaseDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReleaseDate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Wstecz", "Back", new { @returnUrl = Request.UrlReferrer }, new { @class = "button" })
</p>
